@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');
.default-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
*{
     margin: 0;
     padding: 0;
}

.font-miama{
    font-family: 'Miama', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.nav-title{
    color: rgba(230, 83, 60, 1);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: left;
}


header{

    background: linear-gradient(180.00deg, rgba(17.411699295043945, 17.411699295043945, 17.411699295043945, 1),rgba(40, 40, 40, 1), rgba(17.411699295043945, 17.411699295043945, 17.411699295043945, 1));
}

nav{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 57px ;
    margin: auto;
}
.nav-menu{
    display: flex;
    flex-direction: row; 
    list-style: none ;
    gap: 3rem;
    padding: 4px;
    border-radius: 39px;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);

}   

.nav-menu li{
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}
#nav-first{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 8px 20px 8px 20px;
    border-radius: 46px;
    background: rgba(230, 83, 60, 1);
}
.nav-last{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 0px 20px 0px 20px;
}

.banner-section{
     width: 70%;
     margin: auto;
    display: flex;
    margin-top: 32px;
    flex-direction: row;
    justify-content: space-between;
}

.banner-content{
    max-width:60%;
    margin-top: 68px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.banner-title{
    color: rgba(255, 255, 255, 1);
    font-size: 5rem;
    font-weight: 900;
    line-height: 94px;
    letter-spacing: 0%;
    text-align: left;
}

#miama-text{
        font-weight: 400;
        font-size: 9.5rem;
}

.desc-styles{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
}

.btn-secondary{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 42px;  
    background: none;  
    padding: 16px 40px 16px 40px;
}