@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');
.default-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
*{
     margin: 0;
     padding: 0;
}
body{
    background: rgba(0, 0, 0, 1);
}
.font-miama{
    font-family: 'Miama', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.nav-title{
    color: rgba(230, 83, 60, 1);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: left;
}


header{

    background: linear-gradient(180.00deg, rgba(17.411699295043945, 17.411699295043945, 17.411699295043945, 1),rgba(40, 40, 40, 1), rgba(17.411699295043945, 17.411699295043945, 17.411699295043945, 1));
}

nav{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 57px ;
    margin: auto;
}
.nav-menu{
    display: flex;
    flex-direction: row; 
    list-style: none ;
    gap: 3rem;
    padding: 4px;
    border-radius: 39px;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);

}   

.nav-menu li{
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}
.nav-first{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 8px 20px 8px 20px;
    border-radius: 46px;
    background: rgba(230, 83, 60, 1);
}
.nav-last{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 0px 20px 0px 20px;
}

.banner-section{
    width: 70%;
    margin: auto;
    display: flex;
    margin-top: 32px;
    flex-direction: row;
    justify-content: space-between;
}

.banner-content{
    max-width:60%;
    margin-top: 68px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.banner-title{
    color: rgba(255, 255, 255, 1);
    font-size: 5rem;
    font-weight: 900;
    line-height: 94px;
    letter-spacing: 0%;
    text-align: left;
}

#miama-text{
        font-weight: 400;
        font-size: 9.5rem;
}

.desc-styles{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    
}

.btn-secondary{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 42px;  
    background: none;  
    width: 224px;
    font-size: 18px;
    color: white;
    padding: 16px 40px 16px 40px;
}
.btn-primary{
    box-sizing: border-box;
    width: 224px;
    font-size: 18px;
    color: white;
    border-radius: 42px;  
    background: none;  
    padding: 16px 40px 16px 40px;
    background: rgba(230, 83, 60, 1);
}
.banner-button{
    display: flex;
    flex-direction: row;
    gap: 15px;

}
.banner-image{
    position: relative;

}
.float-box1{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: 200px;
    top: 100px;
    z-index: 10;
    padding: 24px;
    width: 170px;
    max-height:98px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.1);
}
.float-box2{
    display:flex;
    flex-direction: row;
    gap: 10px;
    z-index: 20;
    position: absolute;
    left: -120px;
    top: 400px;
    padding: 24px;
    max-width: 193px;
    max-height: 98px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(8px);
    background: rgba(48, 48, 48, 0.54);
    
}
.float-box1 h3{
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-style: Black;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: left;
}

.float-box2 h4{
    color: rgba(250, 250, 249, 1);
    font-family: Inter;
    font-style: Black;
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
}
.play-circle {
  width: 40px;
  height: 40px;
  background: rgba(230, 83, 60, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-icon {
  width:0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 16px solid white;
  margin-left: 3px; /* optical centering */
}

.menu-icon{
    display: none;
    font-size: 24px;
}
 .fa-solid{
    color:white;
}
.habit-sec{
    background: rgba(0, 0, 0, 1);
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 58px;
}
.section-title{
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    text-align: center;
    max-width: 46.5%;
}
.section-title p{
    text-align: center;
}
.main-title{
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-style: Black;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0%;
}
.habit-cards-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:40px;
}
.habit-card p{
    width:100%;
}
.habit-card{
    width: 231px;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 30px;
    
}
.img-holder{
    height: 180px;
    width: 180px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    
    overflow: hidden;

}
.habit-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.habit-desc h5{
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-style: Semi Bold;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}
.habit-desc p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: center;
    width: 100%;
}

.run-sec{
    display: flex;
    flex-direction: row;
    justify-content: center;

    background: rgba(0, 0, 0, 1);
    margin-top: 100px;
    margin-bottom: 100px;
}
.run-extra{
    width: 70%;
    border-radius: 18px;
    background: rgba(34, 34, 34, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 34px;
    padding: 30px;
}

.run-extra-desc{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.run-extra-lft{
    width: 443px;
    display: flex;
    flex-direction: column;
    gap: 34px;
    justify-content: center;
}
.habit-image-div{
    height: 316px;
    width: 366px;
    overflow: hidden;
    border-radius: 18px;
}
.habit-image-div img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transform: scale(2.5) translateX(-17%) translateY(10%);

}
.training-sec{
    display: flex;
    flex-direction: column;
    gap: 88px;
    justify-content: center;
    align-items: center;
}
.training-exercise{
    width: 73.5%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.exercise-desc{
    max-width: 63%;
}
.training-imgs{
    display: flex;
    flex-direction: column;
}
.single-img img {
    width: 100%;
  height: 100%;
  object-fit: cover;
}
.training-imgs-row{
    display: flex;
    flex-direction: row;
    height: 200px;
}
.single-img{
    position: relative;
    overflow: hidden;
}


.single-img::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}
.img1 p, .img3 p, .img5 p, .img6 p  {
    position: absolute;
    bottom: 16px;
    left: 16px;
    color: rgba(255, 255, 255, 1);
    z-index: 2;
    font-weight: 500;
}

.img2 p {
    position: absolute;
    bottom: 160px;
    left: 16px;
    z-index: 2;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}
.img4 p {
    position: absolute;
    color: rgba(255, 255, 255, 1);
    bottom: 160px;
    left: 250px;
    z-index: 2;
    font-weight: 500;
}
.img1{
    width: 250px;
}
.img1::before{
    background: rgba(0, 180, 140, 0.5);

}
.img2{
    width: 520px;
}
.img2::before{
    background: rgba(255, 0, 0, 0.3);

}
.img3{
    width: 290px;
}
.img3::before{
    background:rgba(0, 0, 0, 0.5);

}
.img4{
    width: 425px;
}
.img4::before{
    background:rgba(0, 0, 0, 0.5);

}
.img5{
    width: 288px;
}
.img5::before{
        background: rgba(66, 255, 0, 0.3);

}
.img6{
    width: 347px;
}
.img6::before{
    background:rgba(0, 71, 255, 0.3);

}
.bmi-heading{
    width: 45%;
    display: flex;
    justify-content: center;
    margin-bottom: 88px;
}
.bmi-cal-sec{
    display: flex;
    justify-content: center;
    background: rgba(34, 34, 34, 1);
}
.bmi-cal-div{
    width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.bmi-cal-right{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap:34px;
}
.small-heading{
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-style: Black;
    font-size: 28px;
    font-weight: 900;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: left;
}
table, th, td {
    border-style: ridge;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding-left: 10px;
}
th, td{ 
    width: 155px; 
    height: 40px;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
     font-family: Inter;
    font-style: Medium;
}
th, td{ 
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 16px;
    
}
td{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 14px;
}
.bmi-cal-left .small-heading{
    margin-bottom: 50px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.form-grid input,
.form-grid select {
  background: #2b2b2b;
  border-style: none;
  color: #aaa;
  padding: 14px;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
}

.form-grid .full {
  grid-column: span 2;
}
@media screen and (max-width: 576px ){
    .nav-menu{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    nav{
    width: 90%;
    }
    .banner-section{
    width: 90%;
    margin: auto;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    }
    .banner-content{
    max-width:100%;
    display: flex;
    margin-top: 0px;
    flex-direction: column;
    gap: 48px;
    }
    .banner-title{
        font-size: 3.2rem;
        font-weight: 800;
        line-height: 64px;
        letter-spacing: 0%;
        text-align: left;
        max-width: 80%;
    }
    #miama-text{
        font-weight: 400;
        font-size: 6rem;
    }
    
    .banner-image{
        width: 90%;
        margin: auto;
    }
    .float-box1{
    left: 200px;
    top: 30px;
    z-index: 10;
    padding: 12px 18px;
    max-width: 145px;
    max-height:74px;
    
    }
    .float-box1 h3{
    font-size: 30px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 0.75px;
    text-align: left;
    }
    .float-box1 p{
    font-size: 9px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.5px;
    text-align: left;
    }

    .float-box2{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    z-index: 20;
    left: 0px;
    top: 235px;
    padding: 14px 17px;
    max-width: 150px;
    max-height: 72px;
    }
    .float-box2 h4{
    font-size: 20px;
    font-weight: 900;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: left;
    }
    .float-box2 p{
    font-size: 12px;
    font-weight: 400;
    width: 100%;
    line-height: 15px;
    letter-spacing: 0.3px;
    text-align: left;
    }
    .play-circle {
    width: 30px;
    height: 30px;
    }

    .play-icon {
    width:0;
    height: 0;
    border-top: 7.5px solid transparent;
    border-bottom: 7.5px solid transparent;
    border-left: 12px solid white;
    margin-left: 2.33px;  
    }
    .habit-sec{
    margin-top: 40px;
    width: 90%;
    margin: auto;
    }
    .section-title{
    max-width: 95%;
    }
    .main-title{
    font-size: 32px;
    font-weight: 900;
    line-height: 39px;
    }
    .habit-cards-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:40px;
    }
    .banner-img{
        width: 353px;
    }
    .run-sec{
        margin-top: 60px;
        margin-bottom: 60px;
    }
     .run-extra{
        width: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .run-extra-lft{
        max-width: 100%;
        align-items: center;
    }

    .habit-image-div{
        height: 170px;
        width: 280px;
    }
    .habit-image-div img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transform: scale(2.5) translateX(-17%) translateY(10%);

    }
    .training-exercise{
        width: 90%;
        gap: 30px;
    }
    .exercise-desc{
        max-width: 100%;
    }
    .img3, .img6 {
        display: none;
    }
    .training-imgs-row{
        height: 128px;
    }
    .img1{
        width: 50%;
    }
    .img2{
        width: 50%;
    }
    .img4{
        width: 45%;
    }
    .img5{
        width: 55%;
    }
    .img4 p {
        bottom: 16px;
        left: 10px;
    }
    .img2 p {
        bottom: 80px;
        left: 20px;
    }
    .bmi-heading{
        width: 90%;
        margin-bottom: 32px;
    }
    .training-sec{
        gap: 32px;
    }
    .bmi-cal-div{
        width: 90%;
        margin-top: 30px;
        margin-bottom: 40px;
        flex-direction: column;
        gap: 40px;
    }
  
.bmi-cal-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:34px;
}
.small-heading{

    font-size: 16px;
    font-weight: 900;
    line-height: 19px;
}
.bmi-cal-left .small-heading{
    margin-bottom: 50px;
}

.form-grid {
  max-width: 100%;
}



}